@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaijaan|Vesper+Libre&display=swap');

*{
	padding: 0;
	margin: 0;
	list-style: none;
	text-decoration: none;
	color: inherit;

}

body{
	background: url(https://images6.alphacoders.com/507/thumb-1920-507281.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
}
#wrapper{
	height: 100vh;
	width: 80vw;
	margin: auto;
	
}
#emptyspace{
	height: 25vh;
	background: black;
}
header{
	background-color: white;
	
	width: 80vw;
	
	border-bottom: 2px solid black;
	
	
}


#logo{
	height: 100px;
	width: 100px;
	
	padding-left: 5px;
	
}
#wrapper nav ul li{
	display: inline-block;
	font-family: 'Baloo Bhaijaan', cursive;
	text-transform: uppercase;
	float: right;
	margin-right: 50px;
	padding: 35px 10px 10px 10px;
	font-size: 18pt;
	transition: 0.3s;

}
nav ul li:hover{
	border-bottom-style: groove;
	border-bottom: 1px solid black;
  color: gold;
}
section{
	background: url(https://images7.alphacoders.com/714/thumb-1920-714669.png);
	background-size: cover;
	background-position: center center;
	height: 85vh;
	color: white;
	text-align: center;

}
#button h1{
	font-family: 'Baloo Bhaijaan', cursive;
	font-size: 30px;
	padding-top: 1vh;
	margin-bottom: 68vh;
	text-transform: uppercase;
	letter-spacing: 3px;


}


#btn{
	font-family: 'Baloo Bhaijaan', cursive;
	text-transform: uppercase;
	
	border: 2px solid white;
	border-radius: 50px;
	background-color: white;
  	color: black;
  	padding: 10px 30px;
  	text-align: center;
  	font-size: 15px;
  	transition: 0.3s;

}
#btn:hover {
  background-color: black;
  color: white;
}
#article1{
	background: white;
	height: min-content;
	text-align: center;
	
	
}
#article1 div{
	text-align: center;
	display: inline-block;
	width: 30%;
	padding: 20px 10px 20px 10px;

}
#article1 img{
	height: 200px;
	width: 280px;
	margin: 20px 10px 20px 10px;
	border: 2px solid black;
	transition: 1s;
}
#article1 h3{
	font-family: 'Baloo Bhaijaan', cursive;
	font-size: 30px;
	border-bottom: 1px solid black;
}
#article1 p{
	font-family: 'Baloo Bhaijaan', cursive;
	font-size: 16px;
	margin-bottom: 30px;
	font-weight: bold;
	
	height: 100px;
}
#btn2{
	font-family: 'Baloo Bhaijaan', cursive;
	text-transform: uppercase;
	border: 2px solid black;
	
	border-radius: 50px;
	background-color: black;
  	color: white;
  	padding: 10px 30px;
  	text-align: center;
  	font-size: 14px;
  	margin: 4px 2px;
  	transition: 0.3s;

}
#btn2:hover {
  background-color: crimson;
  color: white;
}
#article1 img:hover{
	transition: 1s;
	border: 2px solid crimson;
	transform: rotate(10deg);
}

#iconi{
	background: black;
	height: 72vh;
	text-align: center;
	

}
#iconi i{
	font-size: 40px;
	margin: 10px 45px 10px 45px;
	transition: 3s;

}
i:hover{
	transform: rotate(1080deg);
  
}
#iconi ul li{
	display: inline-block;
	font-family: 'Baloo Bhaijaan', cursive;
	margin-bottom: 50px;
	
}
#iconi h1{
	font-family: 'Baloo Bhaijaan', cursive;
	text-transform: uppercase;
	font-size: 50px;
	margin-bottom: 30px;
	border-bottom: 1px ridge white;
	border-top: 1px ridge white;
}
#icon{
	display: inline-block;
	width: 70%;
	padding: 20px 10px 20px 10px;
}
#icon ul li{
	margin-right: 20px;
}
#shiptext{
	font-family: 'Baloo Bhaijaan', cursive;
	font-size: 16px;
	border-bottom: 2px groove white;
	margin-bottom: 50px;
}
#btn3{
	font-family: 'Baloo Bhaijaan', cursive;
	text-transform: uppercase;
	border: 1px groove black;
	color: black;
	border-radius: 50px;
	background-color: black;
  	color: white;
  	padding: 10px 40px;
  	text-align: center;
  	font-size: 20px;
  	margin: 4px 2px;
  	transition: 0.3s;
}
#btn3:hover {
  background-color: white;
  color: black;
}
#morenike{
	height: min-content;
	background: white;
	color: black;
    background: black;
	background-size: cover;
	background-position: center center ;

	
}
#morenike h1{
	font-family: 'Baloo Bhaijaan', cursive;
	font-size: 40px;
	text-align: center;
	color: white;
	

	padding-top: 20px;
	margin-bottom: 30px;

}
#morenike h3{
	color: white;
	margin-top: 10px;
	font-family: 'Baloo Bhaijaan', cursive;
	letter-spacing: 3px;
}
#pictures{
	

	margin: 0px 20px;
}
#pictures figure{
	height: 346px;
	width: 310px;
	display: inline-block;
	margin-right: 10px;
	margin-left: 10px;
	
}
figcaption{
	position: relative;
		top: -50px;
		float: left;
		margin-left: 10px;


}
#pictures img{
	height: 346px;
	width: 310px;
	transition: 0.3s;
	border-radius: 20px;

}
#pictures img:hover{
 

 
}

.btn4{
	font-family: 'Baloo Bhaijaan', cursive;
	border-radius: 50px;
	background-color: white;
  	border: 2px solid white;
  	padding: 3px 18px;
  	text-align: center;
  	font-size: 20px;
  	
  	transition: 0.3s;
  	
}
.btn4:hover{
	color: black;
	background-color: rgba(255,255,255,0.5);
	border-color: rgba(255,255,255,0.5);
	border: none;
}

#article2{
	background: white;
	height: min-content;
	text-align: center;
	
	
}
#article2 div{
	display: inline-block;
	width: 30%;
	padding: 20px 10px 20px 10px;

}
#article2 img{
	height: 200px;
	width: 280px;
	margin: 20px 10px 20px 10px;
	border: 2px solid black;
	transition: 1s;
}
#article2 h3{
	font-family: 'Baloo Bhaijaan', cursive;
	font-size: 30px;
	border-bottom: 1px solid black;
}
#article2 p{
	font-family: 'Baloo Bhaijaan', cursive;
	font-size: 16px;
	margin-bottom: 30px;
	font-weight: bold;
	
	height: 100px;
}
#article2 img:hover{
	transition: 1s;
	border: 2px solid lightblue;
	transform: rotate(-10deg);
}
#btn2-1{
	font-family: 'Baloo Bhaijaan', cursive;
	text-transform: uppercase;
	border: 2px solid black;
	color: black;
	border-radius: 50px;
	background-color: black;
  	color: white;
  	padding: 10px 30px;
  	text-align: center;
  	font-size: 14px;
  	margin: 4px 2px;
  	transition: 0.3s;

}
#btn2-1:hover {
  background-color: lightblue;
  color: black;
}
#end{
	height: 7vh;
	background: white;
	color: black;
}
#end ul li{
	float: right;
	display: inline-block;
	font-size: 25px;
	margin-right: 20px;
	padding: 8px 10px;
}
#end p{
	float: left;
	font-family: 'Baloo Bhaijaan', cursive;
	text-transform: uppercase;
	padding: 10px 10px;
	font-size: 16px;
}
#end ul li:hover{
	color: gold;
}
@media only screen and (max-width: 2560px){
 
 #morenike{
 	height: 65vh;
 }
 #iconi{
 	height: 60vh;
 }
 #end{
 	height: 6vh;
 }
}
@media only screen and (max-width: 1440px){
	
	#morenike{
		height: 63vh;
	}
	#iconi{
		height: 57vh;
	}
	#end{
		height: 6vh;
	}
	
}

	

@media only screen and (max-width: 1024px){
	body{
		width: 120%;
	}
	#wrapper{
		width: 80%;
	}
	header{
		width: 80%;
	}
	#morenike div figure{
		margin-bottom: 10px;
	}
	#morenike{
		height: 1215px;
		background: black;
	}
	#morenike div{
		display: inline-grid;
	}
	
	#iconi{
		height: 475px;
	}
	#end{
		height: 50px;
	}
}
@media only screen and (max-width: 768px) {
	body{
		width: 768px;
	}
	#wrapper{
		width: 600px;
		
	}
	header{
		width: 600px;
	}
	#wrapper nav ul li{
		font-size: 20px;
		margin-right: 5px;
		margin-left: 5px;
		padding: 35px 10px;
	 	
		
	}
	#button{
		height:400px;
	}
	#button h1{
		margin-bottom: 280px;
		
	}
	#article1 div{
		margin: auto;
		text-align: center;
		width: 100%;
	}
	#article1{
		text-align: center;
		display: inline-block;
		height: 1600px;
		margin: auto;
		width: 100%;
		
	}
	#article1 h3{
		
		text-align: center;
    	width: 30%;
    	margin: auto;
    	
	}

	#article1 p{
	font-family: 'Baloo Bhaijaan', cursive;
    font-size: 16px;
    margin: auto;
    margin-bottom: 76px;
    font-weight: bold;
    height: 100px;
    width: 30%;
    
    }
    
	#morenike{
		height: 1223px;
		background: black;
	}
	#morenike div figure{
		margin-bottom: 10px;
	}
	#pictures{
		margin: 10px 5px;
	}
	
	#article2 div{
		margin: auto;
		text-align: center;
		width: 100%;
	}
	#article2{
		text-align: center;
		display: inline-grid;
		height: 1600px;
		margin: auto;
		width: 100%;
		
	}
	#article2 h3{
		
		text-align: center;
    	width: 30%;
    	 margin: auto;
	}

	#article2 p{
	font-family: 'Baloo Bhaijaan', cursive;
    font-size: 16px;
    margin: auto;
    margin-bottom: 76px;
    font-weight: bold;
    height: 100px;
    width: 30%;

    }
    #iconi{
    	height: 664px;
    }
	#end{
		height: 43px;
	}
}










	




	

	
	


